{% extends 'base.html' %}
{% block content %}
      
    {% if recipe_title %}
        <h1>new recipe {{ recipe_title }} created.</h1>
    {% else %}
        <h1>Create a new recipe!</h1>
        <br/>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.recipe_title.label(class="form-label") }}
            {{ form.recipe_title(class="form-control") }}
            <br/>
            {{ form.create_recipe(class="btn btn-secondary") }}
        </form>
    
    {% endif %}

{% endblock %}